<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl-PL">
	<head>
		<title>Ściema</title>
		<meta charset="utf-8">

		<style type="text/css">
			.player-sprite {
				transition-property: left, top;
				transition-duration: 1s;
			}
		</style>
	</head>
	<body>
		<div id="form">
			<label for="player-name">Ksyfka: </label>
			<input type="text" id="player-name">

			<hr>
			<h3>Dołącz do gry:</h3>
			<ul>
				{% for game in games %}
					<li>{{ game }}</li><button class="js-join" data-game="{{ game }}">Dołącz</button>
				{% end %}
			</ul>

			<hr>
			<h3>Załóż nową grę:</h3>
			<label for="player-name">Nazwa: </label>
			<input type="text" id="new-game-name">
			<button id="new-game-start">Wyślij</button>
		</div>
		<div id="waiting" style="display: none">
			<h3 class="js-game-name"></h3>
			<ol class="js-players-list"></ol>
			<button id="start-play">Start</button>
		</div>
		<div id="game-canvas" style="display: none">
			<h3 class="js-game-name"></h3>
			<ol class="js-players-list"></ol>
			<div id="map-container"></div>
			<button id="end-game">End game</button>
		</div>
		<div id="finished" style="display: none">
			<h3 class="js-game-name"></h3>
			<h4>And the winner is</h4><h3 id="winner-name"></h3>
		</div>

		<script src="/static/world.js" async></script>
		<script src="/static/client.js" async></script>
	</body>
</html>
